{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class= "row">
  <div class="col-md-6">
  <div class="card mx-auto" style="width:40 rem;">
    <div class="card-body">
      
      
        <h5 class="card-title mb-3"> Created A Ticket</h5>
        <form method ='POST'>
          {% csrf_token %}
       
          <div class="mb-3">
            <label for="issueTitle" class="form-label" >Issue Title :</label>&nbsp;&nbsp;
            {% render_field form.title class="form-control" %}
            
          </div>
          
          <br>
          <br>
          <label for="description" class="form-label" style="font-size: 20px;">Description :</label>
          <div class="mb-3">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;


            {% render_field form.description class="form-control" %}
          </div>
    <center><button type="submit" class="btn btn-primary">Submit</button></center>
    
        </form>
      
      
      </div>
  <div class="image2">
    <img  src="{% static 'images/d.jpg' %}" alt="noimage">
  </div>
  </div>
  </div>
</div>
{% endblock content %}