{% extends 'base.html' %}
{% load static %}
{% block content %}
  <style>
body{
  height: 1000px;
}
    .container-mt-5 {
      background-color: powderblue;
      background-repeat: no-repeat;
      background-size: cover;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: white;      
      font-size: 16px;
      border: none;
    
    }
    .display-5{
      font-size: 40px;
      font-weight: 200;
      margin-top: 20px;
      
    }
    h1{
      font-size: 40px;
      margin-top: 0;
      color: black;
    }
    p{
      font-size: 20px;
      margin-top: 0;
      color: black;
    }
    .chutiya{
      width: 600px;
      
    }
    .hello{
      display: inline-flex;
      position: relative;
      margin-top: 100px;
    }
    .contrainer-fluid{
      margin-left: 20px;
      margin-top: 70px;
      width: 700px;
      z-index: 3;
      
    }
    .contrainer-fluid img{
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
    .image{
     
     float: right;
    }
    .image img{
      height: 500px;
      width: 600px;
      border-radius: 20px;
    }
    .footer {
      background-color: #c0c0c0;
      color: #fff;
      padding: 40px 0;
      width: 100%;
      margin-top: 400px;
  }
  
  .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  
  .footer-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  
  .footer-section {
      flex: 1;
      margin-left: 50px;
  }
  
  .footer-section h3 {
      margin-bottom: 10px;
      color: black;
  }
  
  .footer-section p, .footer-section ul {
      margin: 0;
      padding: 0;
      list-style: none;
  }
  
  .footer-section ul li {
      margin-bottom: 10px;
  }
  
  .footer-bottom {
      text-align: center;
      margin-top: 20px;
  }
  .footer-section ul,li{
    background-color: transparent;
  }
  


  </style>
  
  {% if request.user.is_customer %}
    <section class="container-mt-5">
      <div class="hello">
        <div class="contrainer-fluid py-5" >
          <h1 class="display-5 fw-bold">Employer Dashboard</h1>

          <div class="chutiya">
            <p class="para">The employee dashboard in a help desk ticketing system serves as a central hub for agents to efficiently manage and resolve support tickets.<br>
              You Can Create a Ticket to raise request  or report an issue here!<br><br>
            </p>
          </div>
          {% comment %} <button class="btn" type="button">example button</button> {% endcomment %}
        </div>
        <div class="image">
          <img  src="{% static 'images\a.jpg' %}" alt="noimage">
        </div>
       
        
      </div>
    </section>
      <footer class="footer">
        <div class="container">
            <div class="footer-content">
              <div class="footer-section">
                <h3>Contact Us :</h3>
                <p>Email: inprocess@servicedesk.com</p>
                <p>Address: ABC Chowk,123 Main Street, Pune, India</p>
                <p>Helpline: +1 (128) 123-4567</p>
              </div>
              <br>
              <br>
              <div class="footer-bottom">
                <p>&copy; 2024 Service Desk plus<br> All rights reserved.</p>
              </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </div>
              <br>
              <br>
              <div class="footer-section">
                  <h3>Follow Us</h3>
                  <ul>
                      <li><a href="#">Facebook</a></li>
                      <li><a href="#">Twitter</a></li>
                      <li><a href="#">LinkedIn</a></li>
                      <li><a href="#">Instagram</a></li>
                  </ul>
              </div>
        </div>
    </footer>
    {% elif request.user.is_engineer %}
    <section class="container-mt-5">
      <div class="hello">
        <div class="contrainer-fluid py-5">
          <img  src="{% static 'images\a5.jpg' %}" alt="noimage">
          <p class="display-5 fw-bold">Admin Dashboard</p>
          <div class="chutiya">
            <p class="para">The admin dashboard is a crucial component of the help desk ticketing system, providing administrators with an overview of system activities and
              the tools needed to manage users, tickets, and configurations effectively.</p>
            </div>
            
            
            {% comment %} <button class="btn" type="button">Exit</button> {% endcomment %}
          </div>
          <div class="image">
            <img  src="{% static 'images\c.jpg' %}" alt="noimage">
          </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
          <div class="footer-content">
            <div class="footer-section">
              <h3>Contact Us :</h3>
              <p>Email: inprocess@servicedesk.com</p>
              <p>Address: ABC Chowk,123 Main Street, Pune, India</p>
              <p>Helpline: +1 (128) 123-4567</p>
            </div>
            <br>
            <br>
            <div class="footer-bottom">
              <p>&copy; 2024 Service Desk plus<br> All rights reserved.</p>
            </div>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <br>
            <br>
            <div class="footer-section">
                <h3>Follow Us</h3>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">LinkedIn</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
      </div>
  </footer>
  
  {% endif %}
{% endblock %}
